<div class='container-fluid bg-blue'>
    <div class="row justify-content-between pt-4 ml-3 mr-4">
        <div class="col-md-3">
            <div class="topic  mb-3">{{'footer.about' | translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.categories'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.about'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.latestProducts'| translate}}</div>
        </div>
        <div class="col-md-3">
            <div class="topic  mb-3">{{'footer.categories'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.fruits&drinks'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.computer'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.food'| translate}}</div>
        </div>
        <div class="col-md-3">
            <div class="topic mb-3">{{'footer.ourCompany'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.delivary'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.legalNotice'| translate}}</div>
            <div class="text-secondary  mb-2 pointer">{{'footer.terms&conditions'| translate}}</div>
        </div>
        <div class="col-md-3">
            <div class="topic  mb-3">{{'footer.downloadApp'| translate}}</div>
            <div><img src="\assets\images\appStore.PNG" alt="image not found" height="150px"></div>
        </div>
    </div>
    <hr class="bg-secondary mx-4">
    <div class="row justify-content-between pb-4 px-4 copyright">
        <div class="col-md-3" class="text-secondary pl-3">&#169; {{'footer.copyright' | translate}}
        </div>
        <div class="col-md-4">
            <div class="visa"></div>
            <div class="master"></div>
            <div class="discover"></div>
            <div class="americanExpress"></div>
        </div>
    </div>
</div>