.old-price{
    color: red;
    text-decoration:line-through red;
    font-size: small;
}

.discount-price{
    font-size: large;
    font-weight: bold;
}

.product{
    padding: 20px;
    margin: 20px;
}

.img-responsive {
    width: 50%;
}

.back{
    margin: 20px;
}

.cart-btn{   
    margin-top: 60px;
    margin-right: 100px;
    margin-left: 100px;
}

.ratings{
    margin-bottom: 20px;
}

