<div class="row banner1 justify-content-center">
    <div class="col-md-4">
        <strong style="color: #121935;">{{'home.buyYour' | translate}}<span style="color:#25bd01 ;">
                {{'home.favouriteFresh' | translate}} </span> {{'home.foodAndGetUpto70%Offer' | translate}}</strong>
        <div>
            <button class="btn bg-green">{{'home.orderNow' | translate}}</button>
        </div>
    </div>
    <div class="col-md-4">
        <img src="\assets\images\food\snack01.PNG" height="200px" alt="image not found">
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-md-4 banner2">
        <div style="float:left">
            <span style="color: #121935;">{{'home.freshPinapple' | translate}}
                <div><strong> 25% {{'home.discount' | translate}}</strong></div>
            </span>
            <div> {{'home.freeDelivery' | translate}}</div>
            <button class="btn btn-sm bg-green">{{'home.shopNow' | translate}}</button>
        </div>
        <img src="\assets\images\food\pineApple.PNG" style="float: right;" width="150px" alt="image not found">
    </div>
    <div class="col-md-4 banner2">
        <div style="float:left">
            <span style="color: #121935;">{{'home.healthyFood' | translate}}
                <div><strong> 35% {{'home.discount' | translate}}</strong></div>
            </span>
            <div> {{'home.freeDelivery' | translate}}</div>
            <button class="btn btn-sm bg-green">{{'home.shopNow' | translate}}</button>
        </div>
        <img src="\assets\images\food\snack02.PNG" style="float: right;" width="150px" alt="image not found">
    </div>
</div>
<div class="row row justify-content-between banner3">
    <div class="col-lg-3 border">
        <button class="btn bg-green" style="float: left;margin-top: 5px;"><img src="\assets\images\handshake.png"
                width="25px" alt="image not found"></button>&nbsp; <strong>{{'home.freeShipping' | translate}}</strong>
        <div><small>&nbsp; {{'home.onAllOrdersOver$99' | translate}}</small></div>
    </div>
    <div class="col-lg-3 border">
        <button class="btn bg-green" style="float: left;margin-top: 5px;"><img src="\assets\images\handshake.png"
                width="25px" alt="image not found"></button>&nbsp; <strong>{{'home.easyReturn' | translate}}</strong>
        <div><small>&nbsp; {{'home.30DaysReturnPolicy' | translate}}</small></div>
    </div>
    <div class="col-lg-3 border">
        <button class="btn bg-green" style="float: left;margin-top: 5px;"><img src="\assets\images\handshake.png"
                width="25px" alt="image not found"></button>&nbsp; <strong>{{'home.securePayment' | translate}}</strong>
        <div><small>&nbsp; 100% {{'home.securePayment' | translate}}</small></div>
    </div>
    <div class="col-lg-3 border">
        <button class="btn bg-green" style="float: left;margin-top: 5px;"><img src="\assets\images\handshake.png"
                width="25px" alt="image not found"></button>&nbsp; <strong>24/7 {{'home.support' | translate}}</strong>
        <div><small>&nbsp; {{'home.deticated'| translate}} {{'home.support' | translate}}</small></div>
    </div>
</div>
<div class="row banner4 justify-content-around bg-light-green">
    <div class="col-md-4">
        <img src="\assets\images\food\boilerChicken.PNG" width="300px" alt="image not found">
    </div>
    <div class="col-md-4">
        <strong style="color: #121935;"> {{'home.freshBrolyerChicken' | translate}} </strong>
        <div  class="pt-2" style="color: #121935;">
            {{'home.bigSale40%Offer' | translate}}
        </div>
        <div class="pt-3">
            <button class="btn bg-green">{{'home.addToCart' | translate}}</button>
        </div>
    </div>
</div>